<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Titulo da janela -->
    <title> sistema - manutenção de bicicletas </title>
    <!-- bootstrap -->
     <link rel="stylesheet" href="../public/css/bootstrap.min.css">
     <!-- css personalizado -->
      <link rel="stylesheet" href="../public/css/style.css">
    <!-- Impedir a execução de scripts externos ou não autorizados-->
     <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>
<body>
    <div class="container button">
    <img src="../public/img/cliente.jpg" alt="clientes" title=" Cadastro de clientes" id="img1" onclick="cliente()">
    <img src="../public/img/bike.png" alt="bike" title="Cadastro de bikes" id="img2" onclick="bike()">
    <img src="../public/img/manutençao_bike.jpg" alt="Cadastro Os" title="emissão de os" id="img3" onclick="os()">
    <img src="../public/img/estoque.png" alt="estoque" title="Estoque: peças e bikes" id="img4" onclick="estoque()">

</div>

<footer>
    <p id="dataatual"> </p>
</footer>
     <!-- bootstrap -->
      <script src="../public/js/bootstrap.min.js"></script>
      <script src="../public/js/script.js"></script>

      <script src="renderer.js"></script>

</body>
</html>