<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordem de Serviço</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- impedir a execução de scripts externos ou não autorizados -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>

<body>
    <div class="container">
        <form class="mt-2 row g-3">

            <!-- OS -->
            <div class="col-md-4">
                <label class="form-label">Nº OS</label>
                <input type="text" class="form-control" id="txtOs" disabled>
            </div>

            <!-- Data -->
            <div class="col-md-3">
                <label class="form-label">Data</label>
                <input type="text" class="form-control" id="Dataa" disabled>
                
            </div>

            <!-- nome do funcionario -->
           <div class="col-md-3">
            <label for="inputCPFClient" class="form-label"> nome do funcionario </label>

            <input type="text" id="inputCPFClient" spellcheck="false" maxlength="13" class="form-control">
           </div>

           
            <!-- Linha -->
            <hr class="mt-4 border border-primary border -1">


           <!-- Buscar cliente --> 
           <form id="frmClient" class="mt-2 row g-3">

            <!-- Buscar cliente -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchClient" maxlength="30" spellcheck="false" placeholder="buscar cliente">
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" id="btnRead" onclick="searchClient()">Buscar</button>
            </div>

        
            <!-- Buscar modelo -->
            <div class="col-md-3">
                <input type="text" class="form-control" id="searchModel" maxlength="10" spellcheck="false" placeholder="modelo da bicicleta">
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-primary" id="btnRead" onclick="searchModel()">Buscar</button>
            </div>
           
           </form>

            <!-- Linha -->
            <hr class="mt-4 border border-secondary border -1">


            <form id="frmClient" class="mt-2 row g-3">


        
            <div class="col-md-4">
                <label for="inputNamefuncionario" class="form-label"> nome do mecanico responsável </label>
   
                <input type="text" id="inputNamefuncionario" spellcheck="false" required maxlength="15" class="form-control">
               </div>



            <!-- Status -->
            <div class="col-md-4">
                <label class="form-label">Status da OS</label>
                <select class="form-select" id="osStatus">
                    <option value="">Selecione</option>
                    <option>Aberta</option>
                    <option>Em andamento</option>
                    <option>Aguardando peças</option>
                    <option>Finalizada</option>
                    <option>Cancelada</option>
                </select>
            </div>



            <div class="col-md-4">
                <label class="form-label">Serviços</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="servico1" value="100" onchange="calcularTotal()">
                    <label class="form-check-label" for="servico1">Troca de pneu - R$100,00</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="servico2" value="160" onchange="calcularTotal()">
                    <label class="form-check-label" for="servico2">Pintura - R$160</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="servico3" value="30" onchange="calcularTotal()">
                    <label class="form-check-label" for="servico3">Troca de corrente - R$30,00</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="servico4" value="110" onchange="calcularTotal()">
                    <label class="form-check-label" for="servico4">Limpeza - R$110,00</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="servico5" value="200" onchange="calcularTotal()">
                    <label class="form-check-label" for="servico5">Alinhamento - R$200,00</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="servico6" value="80" onchange="calcularTotal()">
                    <label class="form-check-label" for="servico6">Ajuste de câmbio - R$80,00</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="servico7" value="80" onchange="calcularTotal()">
                    <label class="form-check-label" for="servico7">Ajuste de freio - R$80,00</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="servico8" value="85" onchange="calcularTotal()">
                    <label class="form-check-label" for="servico8">Manutenção preventiva - R$85,00</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="servico9" value="" >
                    <label class="form-check-label" for="servico8">Outros - SEM VALOR DEFINIDO </label>
                </div>
                <hr>
                <div class="col-md-4">
                    <label class="form-label">Valor Total</label>
                    <input type="text" id="valorTotal" class="form-control" value="R$ 0,00" readonly>
                </div>
                

        </div>




             

              
                 <!-- nome do cliente -->
               
            <!--
            <div class="mb-3">
                <label class="form-label">Equipamento</label>
                <input type="text" class="form-control" id="txtOsEquip">
            </div>
            <div class="mb-3">
                <label class="form-label">Defeito</label>
                <input type="text" class="form-control" id="txtOsDef">
            </div>
            <div class="mb-3">
                <label class="form-label">Serviço</label>
                <input type="text" class="form-control" id="txtOsServ">
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Técnico</label>
                    <input type="text" class="form-control" id="txtOsTec">
                </div>
                <div class="col-md-3">
                    <label class="form-label">Valor Total</label>
                    <input type="text" class="form-control" id="txtOsValor" value="0">
                </div>
            </div>
        -->
            <div class="d-flex justify-content-center gap-1">
                <button type="button" class="btn btn-success">Gerar OS</button>
                <button type="button" class="btn btn-primary">Buscar OS</button>
                <button type="button" class="btn btn-warning">Editar OS</button>
                <button type="button" class="btn btn-danger">Excluir OS</button>
                <button type="button" class="btn btn-secondary">Imprimir OS</button>
                <button type="reset" class="btn btn-info" id="btnReset" onclick="resetForm()"> Resetar </button>
        </div>
        </form>
    </div>




    


    <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>

    <script src="../public/js/script.js"></script>
    <script src="../views/rendererClient.js"> </script>

</body>

</html>