<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordem de Serviço</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- impedir a execução de scripts externos ou não autorizados -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>

<body>
    <div class="container">
        <form id="frmOs" class="mt-2 row g-3">

            <!-- OS -->
            <div class="col-md-4">
                <label class="form-label">Nº OS</label>
                <input type="text" class="form-control" id="inputOS" disabled>
            </div>

            <!-- Data -->
            <div class="col-md-3">
                <label class="form-label">Data de entrada</label>
                <input type="text" class="form-control" id="inputData" disabled>
            </div>

            <!-- nome do funcionario -->
            <div class="col-md-3">
                <label for="inputNomeFuncionario" class="form-label">Nome do Funcionário</label>
                <input type="text" id="inputNomeFuncionario" spellcheck="false" maxlength="13" class="form-control">
            </div>

            <hr class="mt-4 border border-primary border-1 w-100">

            <!-- Buscar cliente e modelo -->
           <!-- Linha com busca de cliente e modelo da bike lado a lado -->
<div class="row">
    <!-- Cliente 
    <div class="col-md-6 d-flex gap-2">
        <input type="text" class="form-control" id="inputSearchClient" maxlength="30" spellcheck="false" placeholder="Buscar cliente">
        <button type="button" class="btn btn-primary" onclick="buscarCliente()">Buscar</button>
   </div>
-->
    <!-- Buscar cliente -->
    <div class="col-md-4">
     <!--  <label for="inputSearchClient" class="form-label"></label> --> 
        <div class="input-group">
            <input type="text" class="form-control" id="inputSearchClient" spellcheck="false" maxlength="30" placeholder="Buscar cliente" >
            <span class="input-group-text">
                <img src="../public/img/search.png" alt="lupa" width="20" >
            </span>
        </div>
        <!-- Lista de sugestões usando classes bootstrap -->
        <ul id="viewListSuggestion" class="list-group position-absolute w-100" onclick="buscarCliente()"></ul>
    </div>

      <!-- Id -->
      <div class="col-md-2">
       
        <input type="text" class="form-control" id="inputIdClient" spellcheck="false" maxlength="15" placeholder="id do cliente" disabled>
    </div>


    
 <!-- Buscar modelos 
 <div class="col-md-4">
    <label for="inputSearchBike" class="form-label"></label>
    <div class="input-group">
        <input type="text" class="form-control" id="inputSearchBike" spellcheck="false" maxlength="30" placeholder="Buscar modelos" >
        <span class="input-group-text">
            <img src="../public/img/search.png" alt="lupa" width="20" >
        </span>
    </div>

</div>
        
    </div> -->

    <div class="col-md-4">
            <input type="text" id="inputModelClient" class="form-control" placeholder="Modelo" maxlength="40">
            <!-- opções serão inseridas dinamicamente -->
        </select>
    </div>


<hr class="hros">

   
      <!-- nome do cliente -->
  <b> Informações do serviço </b>
 
            <!-- Mecanico -->
            <div class="col-md-4">
                <label for="inputNameMecanico" class="form-label">Nome do Mecânico Responsável</label>
                <input type="text" id="inputNameMecanico" spellcheck="false" required maxlength="15" class="form-control">
            </div>

            <!-- Status -->
            <div class="col-md-4">
                <label class="form-label">Status da OS</label>
                <select class="form-select" id="osStatus">
                    <option value="">Selecione</option>
                    <option>Aberta</option>
                    <option>Em andamento</option>
                    <option>Aguardando peças</option>
                    <option>Finalizada</option>
                    <option>Cancelada</option>
                </select>
            </div>

        
    <!-- Relatórios (esquerda) -->
    <div class="col-md-8">
        <div class="mb-3">
            <label for="inputRelatorioCliente" class="form-label">Relatório do Cliente</label>
            <input type="text" id="inputRelatorioCliente" class="form-control" placeholder="Relatório do cliente" maxlength="400">
        </div>

        <div class="mb-3">
            <label for="inputRelatorioTecnico" class="form-label">Relatório Técnico</label>
            <input type="text" id="inputRelatorioTecnico" class="form-control" placeholder="Relatório técnico" maxlength="400">
        </div>

     <!-- Peças -->
 

<div class="mb-3">
    <label for="inputPecas" class="form-label"> peças </label>
    <input type="text" id="inputPecas" class="form-control" placeholder="peças" maxlength="400">
</div>


    </div>

    
    <!-- Serviços (direita) -->
    <div class="col-md-4">
        <label class="form-label">Serviços</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="servico1" value="Troca de pneu" onchange="calcularTotal()">
            <label class="form-check-label" for="servico1">Troca de pneu </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="servico2" value="Pintura" onchange="calcularTotal()">
            <label class="form-check-label" for="servico2">Pintura </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="servico3" value="Troca de corrente" onchange="calcularTotal()">
            <label class="form-check-label" for="servico3">Troca de corrente </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="servico4" value="Limpeza " onchange="calcularTotal()">
            <label class="form-check-label" for="servico4">Limpeza </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="servico5" value="Alinhamento" onchange="calcularTotal()">
            <label class="form-check-label" for="servico5">Alinhamento </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="servico6" value="Ajuste de câmbio " onchange="calcularTotal()">
            <label class="form-check-label" for="servico6">Ajuste de câmbio </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="servico7" value="Ajuste de freio " onchange="calcularTotal()">
            <label class="form-check-label" for="servico7">Ajuste de freio </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="servico8" value="Manutenção preventiva" onchange="calcularTotal()">
            <label class="form-check-label" for="servico8">Manutenção preventiva </label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="servico9" value="">
            <label class="form-check-label" for="servico9">Outros - SEM VALOR DEFINIDO</label>
        </div>

<!--
            <div class="col-md-4">
                    <label for="inputEmailClient" class="form-label" > relatorio do cliente </label>
       
                    <input type="text" id="inputEmailClient" spellcheck="false" placeholder="relatorio do cliente" maxlength="400" class="form-control">
                   </div>

                   <div class="col-md-7">
                    <label for="inputEmailClient" class="form-label"> relatorio técnico </label>
       
                    <input type="text" id="inputEmailClient" spellcheck="false" maxlength="400" placeholder="relatorio do técnico " class="form-control">
                   </div>

             Serviços 
            <div class="col-md-4">
                <label class="form-label">Serviços</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="servico1" value="100" onchange="calcularTotal()">
                    <label class="form-check-label" for="servico1">Troca de pneu - R$100,00</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="servico2" value="160" onchange="calcularTotal()">
                    <label class="form-check-label" for="servico2">Pintura - R$160</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="servico3" value="30" onchange="calcularTotal()">
                    <label class="form-check-label" for="servico3">Troca de corrente - R$30,00</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="servico4" value="110" onchange="calcularTotal()">
                    <label class="form-check-label" for="servico4">Limpeza - R$110,00</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="servico5" value="200" onchange="calcularTotal()">
                    <label class="form-check-label" for="servico5">Alinhamento - R$200,00</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="servico6" value="80" onchange="calcularTotal()">
                    <label class="form-check-label" for="servico6">Ajuste de câmbio - R$80,00</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="servico7" value="80" onchange="calcularTotal()">
                    <label class="form-check-label" for="servico7">Ajuste de freio - R$80,00</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="servico8" value="85" onchange="calcularTotal()">
                    <label class="form-check-label" for="servico8">Manutenção preventiva - R$85,00</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="servico9" value="">
                    <label class="form-check-label" for="servico9">Outros - SEM VALOR DEFINIDO</label>
                </div> -->
                

                <hr>
                <label class="form-label">Valor Total</label>
                <input type="text" id="inputvalorTotal" class="form-control" value="R$ 0,00" <!--readonly-->
            </div>

            

            <!-- Botões -->
            <div class="d-flex justify-content-center gap-1 w-100 mt-4">
                <button type="submit" class="btn btn-success" id="btnCreate">Gerar OS</button>
                <button type="button" class="btn btn-primary" onclick="findOS()">Buscar OS</button>
                <button type="submit" class="btn btn-warning" id="btnUpdate">Editar OS</button>
                <button type="button" class="btn btn-danger" id="btnDelete"onclick="removeOS()">Excluir OS</button>
                <button type="button" class="btn btn-secondary" onclick="generateOS()">Imprimir OS</button>
                <button type="reset" class="btn btn-info" onclick="resetForm()">Resetar</button>
            </div>

        </form>
    </div>

    <!-- Scripts -->
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../views/rendereros.js"></script>

</body>

</html>
